/* ============ндубап╠М============== */

ul.newslistmemo{
margin:0px;
padding:0px;
}

ul.newslistmemo li{
margin-bottom:15px;
padding:0px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#555;
}

ul.newslistmemo div.newstitle{
margin-bottom:5px;
}
ul.newslistmemo div.newsmemo{
font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
}

a.newstitle:link,a.newstitle:visited,a.newstitle:active{
color:#555;
text-decoration: none;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}

a.newstitle:hover{
color:#ff6600;
text-decoration: underline;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}
