/* ============分类列表============== */

ul.newsclass{
margin:0px;
padding:0px;
}

li.newsclass {
float:left;
margin-right:12px;
padding-left:16px;
list-style-type: none;
white-space: nowrap;
line-height:20px;
background: transparent url(../images/li.gif) left no-repeat;
}



a.newsclass:link,a.newsclass:visited,a.newsclass:active{
color:#555;
text-decoration: none;
font: 12px/20px simsun;
}

a.newsclass:hover{
color:#ff0000;
text-decoration: underline;
font: 12px/20px simsun;
}
