/* ============ндубап╠М============== */

ul.newslistprop{
margin:0px;
padding:0px;
}

ul.newslistprop li{
margin-bottom:10px;
padding:0px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#555;
}

ul.newslistprop div.newstitle{
margin-bottom:5px;
}
ul.newslistprop div.newsprop{
font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
}

a.newstitle:link,a.newstitle:visited,a.newstitle:active{
color:#555;
text-decoration: none;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}

a.newstitle:hover{
color:#ff6600;
text-decoration: underline;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}
