/* ============Í¼Æ¬ÁÐ±í============== */
ul.newspic{
margin:0;
padding:0
}

ul.newspic li{
list-style-type: none;
margin:0px 5px 5px 0px;
text-align:center;
float:left;
}

ul.newspic div.fang{
border:1px #ddd solid;
background: #fff;
padding:3px;
text-align:center;
}

ul.newspic div.picFit{
overflow: hidden;
}

ul.newspic div.picFit img{
}


ul.newspic div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

ul.newspic a.title:link,ul.newspic a.title:visited,ul.newspic a.title:active{
color:#555;
font:12px/25px simsun;
text-decoration: none;
}

ul.newspic a.title:hover{
color:#ff0000;
text-decoration: underline;
font:12px/25px simsun;
}
