/* ============ндубап╠М============== */

ul.newslist{
margin:0px;
padding:0px;
}

li.newslist {
margin:0;
padding-left:16px;
list-style-type: none;
color:#505050;
background: transparent url(../images/li.gif) left no-repeat;
}

li.newslist .cl{
float:right;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
color:#999;
}

a.newslist:link,a.newslist:visited,a.newslist:active{
color:#505050;
text-decoration: none;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist:hover{
color:#ff0000;
text-decoration: underline;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}
