div#newsquery {
margin:0px;
padding:1px;
border:1px #def solid;
}

div#newsquery ul{
margin:0;
padding:0;
}

div#newsquery li{
list-style-type: none;
padding-left:18px;
height:30px;
font-size: 12px;
overflow: hidden;
line-height:30px;
border-bottom:1px #f7fbfe solid;
}

div#newsquery a:link,div#newsquery a:visited,div#newsquery a:active{
text-decoration: none;
font:14px/30px simsun;
color:#555;
}

div#newsquery a:hover{
text-decoration: underline;
font:14px/30px simsun;
color:#ff6600;
}

div#newsquery li.cap{
background:#f7fbfe;
border-bottom:1px #def solid;
margin-bottom:5px;
}

div#newsquery li.title{
background:url(../images/queryli.gif) 15px no-repeat;
padding-left:32px;
}


div#newsquery div.title{
float:left;
font:14px/30px simsun;
}

div#newsquery .time{
float:right;
white-space: nowrap;
overflow: hidden;
font:12px/30px simsun;
padding-right:15px;
}

div#newsquery li.cap .time{
font:14px/30px simsun;
}


/* ============·­Ò³============== */

div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#fff;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#505050;
background-color:#e4f2ff;
white-space: nowrap;
border:1px #def solid;
}

div#pages li.pbutton{
color:#505050;
background-color:#e4f2ff;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #def solid;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}