/* ============ндубап╠М============== */

ul.newslist_author{
margin:0px;
padding:0px;
}

li.newslist_author {
margin:0;
padding-left:16px;
list-style-type: none;
background: transparent url(../images/78.gif) left no-repeat;
}

li.newslist_author div.author{
float:right;
}

li.newslist_author a.author:link,li.newslist_author a.author:visited,li.newslist_author a.author:active{
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
color:#999;
text-decoration: none;
}

li.newslist_author a.author:hover{
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
color:#ff0000;
text-decoration: underline;
}



a.newslist_author:link,a.newslist_author:visited,a.newslist_author:active{
color:#505050;
text-decoration: none;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist_author:hover{
color:#ff0000;
text-decoration: underline;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}
