/* ============ËÑË÷±íµ¥============== */
div.newssearchform{
background:url(../images/search.gif) 6px no-repeat;
padding-left:28px;
height:24px;
}

div.newssearchform div.searchform{
float:left;
padding-right:3px;
line-height:24px;
}

div.newssearchform div.searchform .input{
border:1px #ddd solid;
height:18px;
line-height:18px;
padding:0px 3px;
background:#fbfbfb
}
