/*===总标题层===*/

div.gbl204_bar{
white-space:nowrap;
overflow:hidden;
background:url(bar.gif) 0px -90px repeat-x;
height:26px;
margin:0px 0px 0px 0px;
}

div.gbl204_title{
float:left;
padding-left:12px;
font:14px/26px simsun;
color:#555;
}

/*===放标签的层===*/

div.gbl204_out{
white-space:nowrap;
overflow:hidden;
background:url(bar.gif) repeat-x;
height:30px;
margin:0px 0px 0px 0px;
border-top:1px #ddd solid;
}
 
div.gbl204_out ul.gblable{            
margin:0 4px;
padding:0;
}

/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl204{
list-style-type:none;
float:left;
height:26px;
padding:0px 10px;
margin:3px 3px 0px -1px;
border-left:1px #ddd solid;
border-top:1px #ddd solid;
border-right:1px #ddd solid;
color:#555;
text-align:center;
font:12px/26px simsun;
background:url(bar.gif) 0px -30px repeat-x;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl204_current{
list-style-type:none;
float:left;
height:26px;
padding:0px 10px;
margin:3px 3px 0px -1px;
border-top:1px #ddd solid;
border-right:1px #ddd solid;
border-left:1px #ddd solid;
color:#555;
text-align:center;
font:12px/26px simsun;
background:url(bar.gif)  0px -60px repeat-x;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl204_more{
float:right;
}

div.gbl204_more a{
font:12px/26px simsun;
color:#555;
margin-right:8px
}

