<!-start->
<link href="css/feedbackform.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/feedback.js"></script>
<div  id="notice" class="noticediv"></div>
<form id="feedbacksmallform" method="post" action="" name="gform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >
<!-start->

<!-input->
<tr> 
      <td width="80" align="right">{#title#}：</td>
      <td> 
        <input type="text" name="{#fieldname#}" value="{#fieldvalue#}" class="input" style="width:{#size#}px" />
        {#mustfill#} <div style="padding-top:3px;color:#666">{#intro#}</div>  </td>
    </tr>
<!-input->

<!-textarea->
    <tr> 
      <td width="80" align="right">{#title#}：</td>
      <td> 
        <textarea name="{#fieldname#}"  rows="10" class="textarea" style="width:{#size#}px" >{#fieldvalue#}</textarea>
        {#mustfill#} 
        <div style="padding-top:3px;color:#666">{#intro#}</div>  </td>
    </tr>

<!-textarea->

<!-list->
    <tr> 
      <td width="80" align="right">{#title#}：</td>
      <td> 
        <select name="{#fieldname#}" >
		{#list#}
        </select>
        {#mustfill#} <div style="padding-top:3px;color:#666">{#intro#}</div> </td>
    </tr>

<!-list->

<!-end->
    <tr>
      <td width="80" align="right">验 证 码：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px"  class="input" />
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="{#RP#}codeimg.php" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">看不清？更换一张</span>
</td>
    </tr>
	<tr> 
      <td width="80" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr> 
      <td width="80" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="Submit" value="提交" class="submit">
        <input type='hidden' name='act' value='formsend'>
        <input name='groupid' type='hidden' id="groupid" value='{#groupid#}'>
		
	  </td>
    </tr>
  </table>
</form>

<!-end->
