/*===放标签的层===*/

div.gbl053d_out{
white-space:nowrap;
overflow:hidden;
background:url(d.png) repeat-x;
height:30px;
position:relative;
margin:-1px -1px 0px -1px;
}
 
div.gbl053d_out ul.gblable{            
margin:0;
padding:0;
}

/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl053d{
list-style-type:none;
float:left;
width:80px;
height:27px;
margin:3px 2px 0px 0px;
color:#fff;
text-align:center;
font:12px/26px simsun;
background:url(d.png) 0px -30px repeat-x;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl053d_current{
list-style-type:none;
float:left;
height:27px;
width:80px;
margin:3px 2px 0px 0px;
color:#fff;
text-align:center;
font:12px/26px simsun;
background:url(d.png)  0px -60px repeat-x;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl053d_more{
float:right;
}

div.gbl053d_more a{
font:12px/30px simsun;
color:#555;
margin-right:3px
}

