/*===放标签的层===*/

div.gbl054c_out{
white-space:nowrap;
overflow:hidden;
background:url(c.gif) repeat-x;
height:30px;
position:relative;
margin:-1px -1px 0px -1px;
}
 
div.gbl054c_out ul.gblable{            
margin:0 2px;
padding:0;
}

div.gbl054c_out .gbl054c_left{
float:left;
width:3px;
height:24px;
background:url(c.gif) 0px -90px no-repeat;
}

div.gbl054c_out .gbl054c_right{
float:right;
width:3px;
height:24px;
background:url(c.gif) -5px -90px no-repeat;
}


div.gbl054c_bleft{
float:left;
width:3px;
height:3px;
background:url(c.gif) -0px -116px no-repeat;
margin-top:-3px;
}

div.gbl054c_bright{
float:right;
width:3px;
height:3px;
background:url(c.gif) -5px -116px no-repeat;
margin-top:-3px;
}


/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl054c{
list-style-type:none;
float:left;
width:80px;
height:25px;
margin:0px 0px 0px 0px;
color:#fff;
text-align:center;
font:14px/30px simsun;
background:url(c.gif) 0px -31px no-repeat;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl054c_current{
list-style-type:none;
float:left;
height:25px;
width:80px;
margin:5px 0px 0px 8px;
color:#555;
text-align:center;
font:bold 14px/28px simsun;
background:url(c.gif)  0px -60px no-repeat;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl054c_more{
float:right;
}

div.gbl054c_more a{
font:12px/30px simsun;
color:#fff;
margin-right:8px
}

