<div align="center">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id=scriptmain name=scriptmain codebase="http://download.macromedia.com/pub/shockwave/cabs/
flash/swflash.cab#version=6,0,29,0" width="{#w#}" height="{#h#}">
      <param name="movie" value="images/lbxml.swf?bcastr_xml_url={#RP#}advs/xml/lbxml.php?g={#groupid#}|{#RP#}">
      <param name="quality" value="high">
      <param name=scale value=noscale>
      <param name="LOOP" value="false">
      <param name="menu" value="false">
      <param name="wmode" value="transparent">
      <embed src="images/lbxml.swf?bcastr_xml_url={#RP#}advs/xml/lbxml.php?g={#groupid#}|{#RP#}" width="{#w#}" height="{#h#}"  loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" salign="T" name="scriptmain" menu="false" wmode="transparent"></embed>
    </object>
   
</div>
