<!-start->
<link href="css/advslb.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/yu200712201.js"></script>
<script type=text/javascript src="{#CP#}js/yu200712202.js"></script>
<div id='MainPromotionBanner'>
<div id='SlidePlayer'>
<ul class='Slides'>
<!-start->
<!-list->
<li>
<a target='_blank' href='{#url#}'><img src='{#src#}'></a>
</li>
<!-list->

<!-end->
</ul>
</div>
<script type='text/javascript'>
TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
</script>

</div>
<!-end->
