<!-start->
<ul style="margin:0;padding:0">
<li style="list-style-type:none;float:left;margin:0px;padding:0px 5px 0px 0px;color:#7e7e7e;font:12px/20px Verdana, Arial, Helvetica, sans-serif;white-space:nowrap">友情链接：</li>
<!-start->
<!-list-> 
<li style="list-style-type:none;float:left;margin:0px;padding:0px 12px 0px 0px;font:12px/20px Verdana, Arial, Helvetica, sans-serif;white-space:nowrap">
<a href="{#link#}" target="{#target#}" >{#name#}</a> 
</li>

<!-list->

<!-end->

<li style="list-style-type:none;float:left;margin:0px;padding:0px;color:#7e7e7e;font:12px/20px simsun;white-space:nowrap">[<a href="{#RP#}advs/link/" target="_blank" style="color:#7e7e7e">更多友情链接</a>]</li>
</ul>
<!-end->