


/*=============±íµ¥===========*/

div#reg {border:0px;padding:0;text-align:left;line-height:28px}
div#reg .zone{border:0px #ff7300 solid;padding:20px;margin:5px 0px;line-height:25px;}
div#reg .tit{border:1px #d2d2d2 dotted;padding:3px 12px;margin:15px 0px;line-height:25px;}
div#reg .row{width:100%;clear:both;}
div#reg .left{width:90px;padding:3px;float:left;text-align:right;font-size:14px;line-height:25px}
div#reg .mustfill{width:12px;float:left;color:#ff0000}
div#reg .con{float:left;line-height:25px;}
div#reg .selface{cursor:pointer}
