/* ============短信窗口============== */
div#msnDialog {cursor:default;}
div#msnDialog .border{border:1px #97A0AA solid;}
div#msnDialog .ntc{padding:20px 30px;text-align:left;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
div#msnDialog .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
div#msnDialog .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}
div#msnDialog .msnbody{width:350px;height:150px}

/* ==提示样式== */
.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px 10px 0px}
.okdiv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_right.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px 10px 0px}

.an65_1{
border:0px;
padding:0px;
margin:0px;
width:65px;
height:26px;
line-height:26px;
text-align:center;
background:url(../images/an65_1.gif) left no-repeat;
font: 12px Verdana, Arial, Helvetica, sans-serif;
}