<div style="float:left;height:{#pich#}px;margin-right:15px">
<a href="{#piclink#}"><img src="{#src#}" border="0" height="{#pich#}" /></a>
</div>
<div style="float:left;">
<ul style="margin:0;padding:0">
<li style="list-style-type:none;">
<a href="{#link#}" style="font:12px/20px simsun">{#word#}</a>
</li>
<li style="list-style-type:none">
<a href="{#link1#}" style="font:12px/20px simsun">{#word1#}</a>
</li>
<li style="list-style-type:none">
<a href="{#link2#}" style="font:12px/20px simsun">{#word2#}</a>
</li>
<li style="list-style-type:none">
<a href="{#link3#}" style="font:12px/20px simsun">{#word3#}</a>
</li>
<li style="list-style-type:none">
<a href="{#link4#}" style="font:12px/20px simsun">{#word4#}</a>
</li>
</ul>
</div>