<a href="{#link#}" style="font:bold 16px/22px 'Microsoft YaHei','SimSun',Arial,Sans-Serif">{#word#}</a>
<div style="white-space:nowrap;overflow:hidden;margin-top:5px;font:12px/18px simsun;color:#666">
[<a href="{#link1#}" style="font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#666">{#word1#}</a>][<a href="{#link2#}" style="font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#666">{#word2#}</a>][<a href="{#link3#}" style="font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#666">{#word3#}</a>][<a href="{#link4#}" style="font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#666">{#word4#}</a>]
</div>
