div.titlemenu_dolphin{
margin:0px;
padding:0px 0px 30px 1px;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link,div.titlemenu_dolphin a.titlemenu_dolphin:visited,div.titlemenu_dolphin a.titlemenu_dolphin:active{
display:block;
text-decoration: none;
font:12px/14px Verdana, Arial, Helvetica, sans-serif;
height:25px;
text-align:left;
padding:0px;
margin:0px;
color:#636363;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover{
display:block;
color:#e10000; 
text-decoration: none;
}