.arrowlistmenu{
width: 100%; /*width of accordion menu*/
background:#666;
}

.arrowlistmenu .menuheader{ 
font:12px Arial;
color: #fff;
background:#333;
margin-bottom: 1px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 12px; /*header text is indented 10px*/
cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background:#333;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin: 0px 0px 1px 0px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 0px; /*bottom spacing between menu items*/
background:#666;
}

.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/
background: lightblue !important;
}

.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/
background: lightgreen !important;
}

.arrowlistmenu ul li a{
color: #f5f5f5;
background: url(bar1.gif) 12px no-repeat; 
display: block;
padding: 3px 0;
padding-left: 32px; 
text-decoration: none;
font-weight:nomal;
border-bottom: 1px solid #555;
font-size: 12px;
line-height:22px;
}

.arrowlistmenu ul li a:visited{
color: #f5f5f5;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
background-color: #999;
}

.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/
background: lightblue;
}
