<div style="height:100%;background:url({#CP#}source/{#sourceurl#})">
<div style="float:left;width:9px;height:9px;background:url(images/corner_9.png) no-repeat 0px 0px"></div>
<div style="float:right;width:9px;height:9px;background:url(images/corner_9.png) no-repeat -9px 0px"></div>
<img src="images/space.gif" border="0" width="100%" />
</div>
<div style="float:left;width:9px;height:9px;margin-top:-9px;background:url(images/corner_9.png) no-repeat 0px -9px"></div>
<div style="float:right;width:9px;height:9px;margin-top:-9px;background:url(images/corner_9.png) no-repeat -9px -9px"></div>
