<div style="height:100%;background:url({#CP#}source/{#sourceurl#})">
<div style="float:left;width:5px;height:5px;background:url(images/corner_5.png) no-repeat 0px 0px"></div>
<div style="float:right;width:5px;height:5px;background:url(images/corner_5.png) no-repeat -5px 0px"></div>
<img src="images/space.gif" border="0" width="100%" />
</div>
<div style="float:left;width:5px;height:5px;margin-top:-5px;background:url(images/corner_5.png) no-repeat 0px -5px"></div>
<div style="float:right;width:5px;height:5px;margin-top:-5px;background:url(images/corner_5.png) no-repeat -5px -5px"></div>
