
<div style="font:12px/14px simsun;height:27px;">
	<div style="height:35px"><a href="{#SiteUrl#}" style="color:#143d70;font:12px/14px simsun;" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteUrl#}'); return(false);"><img src="images/home.jpg" style="border:0px;" /></a></div>
	<div><a href="{#SiteUrl#}" style="color:#143d70;font:12px/14px simsun;" onClick="window.external.addFavorite('{#SiteUrl#}','{#sitename#}'); return(false);"><img src="images/bookmark.jpg" style="border:0px;" /></a></div> 
</div>

