<!-start->
<link href="css/jobcontent.css" rel="stylesheet" type="text/css" />
<div id="jobcontent">
	
	<div class="jobitem">
	职位名称：{#jobname#}<br />
	职位类型：{#jobtype#}<br />
	工作经验：{#experience#}<br />
	学历要求：{#education#}<br />
	招聘人数：{#pnums#}名<br />
	发布时间：{#dtime#}<br />
	
  </div>
  
   <div class="jobtit">
  职位描述
   </div>
  <div class="jobintro">
  {#jobintro#}
  </div>
  
  <div class="jobtit">
  招聘要求
   </div>
  <div class="jobintro">
  {#jobrequest#}
  </div>
  
	<div class="jobcontact">
	联 系 人：{#contact#}<br />
	联系电话：{#tel#}<br />
	电子邮件：{#email#}<br />
  </div>
</div>
<!-start->
<!-err1-><div class="securenotice">当前ID不存在或尚未发布</div><!-err1->
