/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone{
background:url(../images/search.gif) 6px no-repeat;
padding-left:28px;
height:24px;
}


div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px 3px 0px 0px;
line-height:24px;
}

div.globalsearchformzone div.globalsearchform .input{
border:1px #ddd solid;
height:20px;
line-height:18px;
padding:0px 3px;
background:#fbfbfb
}
