/* ============ËÑË÷±íµ¥============== */
div.globalsearchform{
padding:0px 3px 3px 0px;
}

div.globalsearchform .input{
border:1px #ddd solid;
width:152px;
height:20px;
line-height:20px;
background:#fbfbfb;
}

div.globalsearchform select{
width:160px;
}

