/* ============ËÑË÷±íµ¥============== */
div.ordersearchform{
height:24px;
} 

div.ordersearchform div.searchform{
float:left;
padding:3px 3px 3px 0px;
line-height:24px;
}

div.ordersearchform div.searchform .input{
border:1px #ddd solid;
height:18px;
line-height:18px;
padding:0px 3px;
background:#fbfbfb
}
