/* ============ÁÐ±í============== */

div.shopquery_1{
margin:0px 10px 8px 0px;
text-align:center;
overflow:hidden;
}

div.shopquery_1_left{
float:left;
text-align:left;
margin-right:20px;
}

div.shopquery_1_right{
float:left;
text-align:left;
}


div.shopquery_1 div.fang{
border:1px #ddd solid;
background: #fff;
padding:2px;
text-align:center;
}

div.shopquery_1 div.picFit{
overflow: hidden;
}



div.shopquery_1 div.picFit img{
}


div.shopquery_1 a.prodtitle:link,div.shopquery_1 a.prodtitle:visited,div.shopquery_1 a.prodtitle:active{
display:block;
color:#393939;
font:14px/20px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
margin-bottom:5px;
}

div.shopquery_1 a.prodtitle:hover{
display:block;
color:#ff0000;
text-decoration: underline;
font:14px/20px Verdana, Arial, Helvetica, sans-serif;
margin-bottom:5px;
}

div.shopquery_1 span.memo{
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
color:#393939;
word-break:break-all; 
}

div.shopquery_1 span.prop{
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
color:#393939;
overflow: hidden;
word-break:break-all; 
}

div.shopquery_1 span.price{
color:#ff8100;
font:bold 14px/20px Verdana, Arial, Helvetica, sans-serif;
}

div.shopquery_1 span.marketprice{
color:#707070;
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
text-decoration:line-through;
}

div.shopquery_1 div.buttonzone{
margin:10px 0px 0px 0px;
}

img.addtocart{
cursor:pointer;
}

/* ============·­Ò³============== */

div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#fff;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#505050;
background-color:#e4f2ff;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.pbutton{
color:#505050;
background-color:#e4f2ff;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}