/* ============ËÑË÷±íµ¥============== */
div.shopsearchformzone{
height:24px;
padding:4px 0px 0px 50px;
} 

div.shopsearchformzone div.shopsearchform{
float:left;
padding:0px 3px 0px 0px;
line-height:24px;
color:#555;
}

div.shopsearchformzone div.shopsearchform .input{
border:1px #dbdfe6 solid;
height:18px;
line-height:18px;
padding:0px 3px;
background:#ffffff;
color:#505050;
}

div.shopsearchformzone div.shopsearchform .box{
    BORDER: #e3e9ef 1px solid;
	FONT-SIZE: 10pt;
	color:#505050;
	FONT-FAMILY: "verdna";
}

div.shopsearchformzone div.shopsearchform .selectBoxSelectedArea {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #505050;
	LINE-HEIGHT: 17px;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR:#ffffff;
}
div.shopsearchformzone div.shopsearchform .selectBoxSelectedAreaFocus {
    PADDING-LEFT: 3px;
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 1px;  
	BACKGROUND-COLOR: #ffffff
}
div.shopsearchformzone div.shopsearchform .selectBoxOption {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #505050; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff;
	
}
div.shopsearchformzone div.shopsearchform .selectBoxOptionOver {
    PADDING-LEFT: 3px; 
	FONT-SIZE: 12px; 
	COLOR: #333333; 
	LINE-HEIGHT: 17px; 
	PADDING-TOP: 2px;  
	BACKGROUND-COLOR: #ffffff
}
div.shopsearchformzone div.shopsearchform .selectBoxOptionInnerLayer {
    BORDER: #e3e9ef 1px solid; 
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #b4b4b4; 
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #b4b4b4; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #838383; 
	SCROLLBAR-TRACK-COLOR: #eaeaea; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	BACKGROUND-COLOR: #ffffff;
}