<!-start->
<link href="css/commentquery.css" rel="stylesheet" type="text/css" />
<link href="css/pages.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/comment.js"></script>

<div id="commentquery">
<ul >
	<li class="cap">
	<div class="cbi"></div>
	<div class="bt"><strong>标题</strong></div>
	<div class="bk"><strong>最后回复</strong></div>
	<div class="au"><strong>作者</strong></div>
	<div class="cl"><strong>点击/回复</strong></div>
	</li>
</ul>
<ul id="queryul">
<!-start->


<!-list-> 
<li>
	<div class="{#querycss#}"></div>
	<div class="bt"><a href="{#link#}" target="{#target#}">{#title#}</a> {#tjstr#}</div>
	<div class="bk">{#uptime#} BY <a href="{#lastmemberurl#}">{#lastname#}</a></div>
	<div class="au"><a href="{#memberurl#}">{#pname#}</a></div>
	<div class="cl">{#cl#}/{#backcount#}</div>


</li>
<!-list->
<!-end->
</ul>

</div>


<div id="showpages">
	  <div id="pagesinfo">共{#totalnums#}条 每页{#pagesshownum#}条 页次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
</div>



<div id="commentForm" >
	<div class="formtitlebg">
		<div class="formtitle">发新话题</div>
	</div>

<div class="formzone">
<a name="feedback"></a>
<div  id="notice" class="noticediv"></div>

<form id="commentSend" action="" method="post" name="commentSend">
      
<div class="row">
<div class="left">选择分类</div>
<div class="con">
<select name="catid">
{#catlist#}
</select>
</div>
</div>

<div class="row">
<div class="left">发贴主题</div>
<div class="con">
<input name="title" type="text" class="input" style="width:475px" />
</div>
</div>

<div class="row">
<div class="left">发贴内容</div>
<div class="con">
<input type="hidden" name="body" value="" />
<input type="hidden" name="useedit" value="1" />
			<div id="kedit" style="position:relative">
			<script type="text/javascript" src="{#RP#}kedit/simpleEditor.js"></script>
            <script type="text/javascript">
            var editor = new KindEditor("editor");
            editor.hiddenName = "body";
            editor.editorWidth = "480px";
            editor.editorHeight = "200px";
            editor.skinPath = "{#RP#}kedit/skins/default/";
			editor.uploadPath = "{#RP#}comment/upload.php";
			editor.imageAttachPath="comment/pics/";
            editor.iconPath = "{#RP#}kedit/icons/";
            editor.show();
            function KindSubmit() {
	          editor.data();
            }
             </script>
			 </div>
</div>
</div>


<div class="row">
<div class="left">验 证 码</div>
<div class="con">
<table border="0" cellspacing="1" cellpadding="0" height="20">
<tr>
<td >
<input type="text" name="ImgCode" style="width:55px"  class="input" >
</td>
<td>
<img id="codeimg" src="{#RP#}codeimg.php" width="60" height="20" style="border:1px #dddddd solid">
							 
</td>
<td><span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">看不清？更换一张</span></td>
</tr>
</table>
</div>
</div>

<div class="row">
	
	<div  style="float:left;line-height:30px;margin:0px 10px 0px 98px">
	<input id="nomember"  name="nomember" type="checkbox" value="1" checked="true" /> 匿名发表&nbsp; 
	</div>

	<div id="notLogin" style="display:none;float:left;line-height:33px">您尚未登录 <span class="loginlink">登录</span> | <a href="{#RP#}member/reg.php" class="nomal">注册</a></div>
	<div id="isLogin" style="display:none;float:left;line-height:33px">您已登录,登录账号: <span id="username"></span> &nbsp; | &nbsp;<a href="{#RP#}member/" class="nomal">会员中心</a> | &nbsp;<span class="logoutlink">退出</span></div>
	
</div>

<div class="row">
	<div style="text-align:left;padding:5px 3px 0px 100px">
	<input type="submit" name="cc" onClick="KindSubmit();" value="提交"  class="submit" />
	<input name="rid" type="hidden" id="rid" value="{#rid#}" />
	<input type="hidden" name="pid" value="0" />
	<input type="hidden" name="act" value="commentsend" />
	<input name="nowpage" type="hidden" id="nowpage" value="" />
	</div>

</div>


</form>
</div>
</div>


<!-end->