#menumain{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
   color:#fff;
   background-color:#0099cc;
}

#menumain .menumain{
   float:left;
   width:99px;
   height:30px;
   color:#fff;
   border-left:1px solid #79cae5;
   border-top:1px solid #79cae5;
   line-height:30px;
   text-align:center;
   margin:-1px 1px 1px -1px ;
}


#menumain .menumain a:link {
   color: #fff; 
   display:block;
   text-decoration: none;
   line-height:30px;
}

#menumain .menumain a:visited {
   color: #fff; 
   display:block;
   text-decoration: none;
   line-height:30px;
}

#menumain .menumain a:hover {
   color: #fff; 
   text-decoration: none;
   background-color:#31add5;
   line-height:30px;
} 

