/* ============Í¼Æ¬¼ìË÷============== */

div#photopollquery {
	margin-bottom:20px;
}

div#photopollquery ul{
	margin:0;
	padding:0;
}

div#photopollquery li{
	float:left;
	list-style-type: none;
	margin:0px 5px 10px 0px;
	text-align:center;
}

div#photopollquery div.fang{
	border:1px #ddd solid;
	background: #f7f7f7;
	padding:5px;
	text-align:center;
}

div#photopollquery div.picFit{
	overflow: hidden;
}

div#photopollquery div.picFit img{
}


div#photopollquery div.title{
	white-space: nowrap;
	overflow: hidden;
	text-align:center;
}

div#photopollquery div.votes{
	color:#ff0000;
	font-weight:bold;
}

div#photopollquery div.votebutton{
	color:#009ef4;
	font-weight:bold;
	cursor:pointer;
}


div#photopollquery a:link,div#photopollquery a:visited,div#photopollquery a:active{
	font:12px/25px simsun;
	color:#555;
	text-decoration: none;
}

div#photopollquery a:hover{
	font:12px/25px simsun;
	color:#ff6600;
	text-decoration: underline;
}




/* ============·­Ò³============== */

div#showpages {
	clear:both;
	padding:0px;
	margin:20px 0px;
	width:100%;
	height:30px;
	white-space: nowrap;
}

div#pagesinfo {
	float:left;
	padding:3px 8px;
	white-space: nowrap;
}

div#pages {
	float:right;
	padding-right:8px;
	white-space: nowrap;
}

div#pages ul{
	margin:0;
	padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
	color:#505050;
	text-decoration: none;
}

div#pages a:hover{
	color:#ff0000;
	text-decoration: none;
}

div#pages li{
	margin:3px;
	padding:2px 5px;
	list-style-type: none;
	float:left;
	background:#fff;
	color:#505050;
	border:1px #cde6ff solid;
	white-space: nowrap;
}

div#pages li.pagesnow{
	color:#505050;
	background-color:#e4f2ff;
	white-space: nowrap;
	border:1px #cde6ff solid;
}

div#pages li.pbutton{
	color:#505050;
	background-color:#e4f2ff;
	padding:3px 5px 1px 5px;
	white-space: nowrap;
	border:1px #cde6ff solid;
}

div#pages li.opt{
	color:#505050;
	padding:0px 2px;
	white-space: nowrap;
	border:0px;
}