/*===放标签的层===*/

div.gbl212_out{
float:left;
width:180px;
white-space:nowrap;
position:relative;
margin:0px;
height:100%;
}
 
div.gbl212_out ul.gblable{            
margin:0;
padding:0;
}

/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl212{
list-style-type:none;
width:180px;
height:30px;
margin:0px 0px 1px 0px;
color:#333;
text-align:left;
padding-left:28px;
font:14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
background:url(bar.gif) 0px -35px no-repeat;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl212_current{
list-style-type:none;
width:180px;
height:30px;
margin:0px 0px 1px 0px;
color:#fff;
text-align:left;
padding-left:28px;
font:bold 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
background:url(bar.gif) 0px 0px no-repeat;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl212_more{
list-style-type:none;
height:28px;
margin:0px 0px 1px 0px;
color:#555;
text-align:left;
padding-left:15px;
font:12px/28px simsun;
background:#fff;
}

div.gbl212_more a{
font:12px/28px simsun;
color:#666;
}

