/*=========¶¥²¿²Ëµ¥===========*/
div#topmenu{
margin: 0;
padding:0;
border: 0;
height: 28px;
line-height:28px;
color:#555;
text-align:center;
}


div#topmenu a:link,div#topmenu a:visited,div#topmenu a:active{
margin:0 5px;
color:#555;
font:12px/28px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
text-decoration: none;
}

div#topmenu a:hover{
margin:0 5px;
color:#ff7300;
font-weight:bold;
text-decoration: none;
}