/*=========¶¥²¿²Ëµ¥===========*/
div#topmenu{
margin: 0;
padding:0;
border: 0;
height: 28px;
line-height:28px;
color:#2e2e2e;
text-align:center;
}

div#topmenu a:link,div#topmenu a:visited,div#topmenu a:active{
margin:0 14px;
color:#2e2e2e;
font:12px/28px 'SimSun',Arial,Sans-Serif;
text-decoration: none;
}

div#topmenu a:hover{
margin:0 14px;
color:#ff0000;
text-decoration: none;
}