<!-start->
<div style=" background:url(images/carttop.gif) left -25px repeat-x;height:22px;">
	<div style="float:right;width:12px;height:22px;background:url(images/carttop.gif) -28px 0px no-repeat;"></div>
	<div style="float:left;width:12px;height:22px;background:url(images/carttop.gif) left 0px no-repeat;"></div>
	<div style="float:left;height:22px;background:url(images/smallcart.gif) 10px no-repeat;padding-left:35px;">
	购物车 <span style="color: #ff6600;font:bold 12px/22px Verdana, Arial, Helvetica, sans-serif"> {#tacc#} </span> 件商品
	 <span style="color: #e0d989;font:12px/22px Verdana, Arial;padding:0px 3px">|</span> <a href="{#CP#}cart.php">查看购物车</a>
	<span style="color: #e0d989;font:12px/22px Verdana, Arial;padding:0px 3px">|</span> <a href="{#CP#}order.php">我的订单</a>
	<span style="color: #e0d989;font:12px/22px Verdana, Arial;padding:0px 3px">|</span> <a href="{#RP#}member/member_cent.php">我的积分</a>
	<span style="color: #e0d989;font:12px/22px Verdana, Arial;padding:0px 3px">|</span> <a href="{#RP#}member/">会员中心</a>
	</div>
</div>

<!-start->

<!-end->
<!-end->