<!-start->
<link href="css/shoptwoclass_diy.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/shopclass_diy.js"></script>
<div class="shoptwoclass_diy">
<!-start->
<!-menu->
<div class="shoptwoclass_diy_top">
<div id="shopclasscap_{#catid#}" class="shoptwoclass_diy_topright"></div>
<a href="{#toplink#}" target="{#target#}" >{#cat#}</a></div>
<ul id="shopclasssub_{#catid#}">
{#sublinkstr#}
</ul>
<!-menu->
<!-list->
<li><a href="{#slink#}" target="{#target#}">{#scat#}</a></li>
<!-list->
<!-end-> 
</div>
<!-end-> 