<!-start->
<link href="css/shoptwoclass_1030.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/shopclass_1030.js"></script>

<div class="shoptwoclass">
<!-start->
<!-menu->
<div id="shopclasstop_{#catid#}" class="shoptwoclass_top">
<div id="shopclasscap_{#catid#}" class="shoptwoclass_topright"></div>
<a href="{#toplink#}" target="{#target#}" >{#cat#}</a></div>
<ul id="shopclasssub_{#catid#}">
{#sublinkstr#}
</ul>
<!-menu->
<!-list->
<li><a href="{#slink#}" target="{#target#}">{#scat#}</a>|</li>
<!-list->
<!-end-> 
</div>
<!-end-> 