<!-start->
<link href="css/shoplist_recomm.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/cart.js"></script>
<!-start->
<!-list->
<div class="shoplist_recomm">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px">
		<div class="picFit" style="width:{#picw#}px;height:{#pich#}px">
		<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;height:{#pich#}px" border="0" /></a>
		</div>
		</div><span class="price">￥{#price#}</span><br />
		<a href="{#link#}" target="{#target#}" class="prodtitle" {#bold#} {#red#} >{#title#}</a>	
		
</div>
<!-list->
<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

<!-end->
<script>
$(function() {
$().picFit("{#fittype#}");
});
</script>



<!-end->