<!-start->
<link href="css/shoplist_9.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/cart.js"></script>
<div class="shoplist_9_out">
<!-start->

<!-list->
<div class="shoplist_9">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px">
			<div class="picFit" style="width:{#picw#}px;height:{#pich#}px">
			<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;height:{#pich#}px" border="0" /></a>
			</div>
		</div>
		<div class="prop">
		价格：<span class="price">￥{#price#}</span><br />
		</div>
		<a href="{#link#}" target="{#target#}" class="prodtitle" {#bold#} {#red#} >{#title#}</a>
		<div class="memo" >
		{#memo#}
		</div>
		
		
</div>
<!-list->
<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

<!-end->
</div>
<script>
$(function() {
$().picFit("{#fittype#}");
});
</script>



<!-end->