<!-start->

<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    
    <td height="28" >购物车中共有 <span style="color: #ff6600;font:bold 12px Verdana, Arial, Helvetica, sans-serif"> {#tacc#} </span> 件商品</td>
  </tr>
  <tr>
    <td height="28" >共计：<span style="color:#ff6600;font:bold 12px Verdana, Arial, Helvetica, sans-serif">{#tjine#} </span> 元</td>
  </tr>
  <tr>
    <td height="28" style="background:url(images/carticon.gif) left no-repeat;padding-left:25px"><a href="{#CP#}cart.php">查看购物车</a></td>
  </tr>
</table>
<!-start->

<!-end->
<!-end->