<!-start->
<link href="css/shoptwoclass_brand.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/shopclass_brand.js"></script>
<div class="shoptwoclass_brand_cap">
	<div id="shoptwoclass_brand_cat" class="shoptwoclass_brand_cat">

	</div>
	<div id="shoptwoclass_brand_brand" class="shoptwoclass_brand_brand">

	</div>
</div>
<div class="shoptwoclass">
<!-start->
<!-menu->
<div id="shopclasstop_{#catid#}" class="shoptwoclass_top">
<div id="shopclasscap_{#catid#}" class="shoptwoclass_topright"></div>
<a href="{#toplink#}" target="{#target#}" >{#cat#}</a></div>
<ul id="shopclasssub_{#catid#}">
{#sublinkstr#}
</ul>
<!-menu->
<!-list->
<li><a href="{#slink#}" target="{#target#}">{#scat#}</a>|</li>
<!-list->

<!-end-> 
<br clear="all" />
</div>
<!-end-> 

<!-m0->
<div class="shoptwoclass_brand">
<!-m0->
<!-m1->
<li>
<a href="{#brandlink#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;height:{#pich#}px" border="0" /></a>
</li>
<!-m1->
<!-m2->
</div>
<!-m2->
