<link href="css/ordersearchform.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/ordersearch.js"></script>

<div class="ordersearchform">
<form id="ordersearch" method="get" action="">
  
  <div class="searchform">
    订单号：<input name="os_orderno" type="text" class="input" id="os_orderno" value="100000" size="8" maxlength="8"> &nbsp; 
  </div>
  
  <div class="searchform">
   收货人：<input name="os_sname" type="text" class="input" id="os_sname" value="" size="8" maxlength="16"> 
  </div>
  
   
  <div class="searchform">
    <input name="os_orderlook" type="button" id="os_orderlook" value="查询" class="button">
</div>
</form>
</div>
