<p>
<table class="form_table t_hue4" style="BORDER-RIGHT: #d4d0c8 1px solid; BORDER-TOP: #d4d0c8 1px solid; BORDER-LEFT: #d4d0c8 1px solid; BORDER-BOTTOM: #d4d0c8 1px solid" cellSpacing=1 cellPadding=3 width="100%" border=0>
<tbody>
<tr>
<td class=left colSpan=2><strong>画面</strong></td></tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>屏幕面板：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>尺寸(寸)：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>分辨率：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>可使用的电脑信号：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>画面高宽比：</td>
<td class=left></td>
</tr>
<tr>
<td class=left colSpan=2><strong>音响</strong></td></tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>音响系统：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>环绕系统：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=left colSpan=2><strong>接口</strong></td></tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>HDMI：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>S端子：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>AV端子：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>电脑输入：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>耳机接口：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=left colSpan=2><strong>附件</strong></td></tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>底座：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>挂架：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>挂架价格(元)：</td>
<td class=left></td>
</tr>
<tr>
<td class=left colSpan=2><strong>总体规格</strong></td></tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>电源：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>开机耗电量：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>待机耗电量：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>外观尺寸(包含支架或底座)(宽x高x深,mm)：</td>
<td class=left></td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>外观尺寸(不包含支架或底座)(宽x高x深,mm)：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>重量(包含支架或底座,kg)：</td>
<td class=left>&nbsp;</td>
</tr>
<tr>
<td class=right width=150 bgColor=#f1f1f1>重量(不包含支架或底座,kg)：</td>
<td class=left>&nbsp;</td>
</tr></tbody></table></p>