

/*===放标签的层===*/

div.gbl055g_out{
white-space:nowrap;
overflow:hidden;
background:url(g.png) repeat-x;
height:30px;
margin:0px 0px 0px 0px;
}
 
div.gbl055g_out ul.gblable{            
margin:0 4px;
padding:0;
}

/*===切换标签的样式
=====必须指定边框编号防止冲突
===*/

li.gbl055g{
list-style-type:none;
float:left;
height:26px;
padding:0px 10px;
margin:3px 0px 0px -1px;
border-left:1px #ff5900 solid;
border-top:1px #ff5900 solid;
border-right:1px #ff5900 solid;
color:#555;
text-align:center;
font:12px/26px simsun;
background:url(g.png) 0px -30px repeat-x;
cursor:pointer;
}

/*===切换标签当前选中的样式===*/


li.gbl055g_current{
list-style-type:none;
float:left;
height:26px;
padding:0px 10px;
margin:3px 0px 0px -1px;
border-top:1px #ff5900 solid;
border-right:1px #ff5900 solid;
border-left:1px #ff5900 solid;
color:#555;
text-align:center;
font:12px/26px simsun;
background:url(g.png)  0px -60px repeat-x;
cursor:pointer;
}


/*===more区域样式===*/

div.gbl055g_more{
float:right;
}

div.gbl055g_more a{
font:12px/30px simsun;
color:#fff;
margin-right:8px
}

