body{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
}

body.framebody{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
}

body.popbody{ 
margin:1px; 
padding:0px; 
background-color: #f2f9fd; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
border:1px #cde6ff solid;
}



form{margin:0px;}

.tbline{
border-bottom:1px #e8e8e8 solid;
}


A,td,p{font: 12px Verdana, Arial, Helvetica, sans-serif;}
A:link {color:#505050;TEXT-DECORATION: none}
A:visited {color:#505050;TEXT-DECORATION: none}
A:active {color:#505050;TEXT-DECORATION: none}
A:hover {color:#ff6600;TEXT-DECORATION: none}

div.searchzone{
margin:5px;
padding:3px 10px;
border:1px #cde6ff solid;
background-color: #f2f9fd; 
}

div.listzone{
margin:5px;
border:1px #cde6ff solid;
}


div.formzone{
border:1px #cde6ff solid;
padding:15px; 
margin:5px; 
background-color:#f2f9fd;
text-align:left
}


div.tablezone{
padding:15px;
background:#ffffff;
border:1px #cde6ff solid;
margin:10px;
}

div.namezone{
margin:10px;
background:url(../images/cateitems.gif) left no-repeat;padding-left:20px
}

div.tabtopzone{
margin:0px 10px 0px 0px;
font:12px/22px simsun;
}

div.tabtopright{
float:right;
padding:0px;
margin:0px;
font:12px/22px simsun;
}

div.bigcat{
margin:5px 0px 5px 0px;
}

div.subcat{
margin:5px 0px 5px 55px;
}


td.innerbiaoti{ 
border-bottom:1px #cde6ff solid;
}

td.biaoti1{ 
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border-top:1px #cde6ff solid;
}



div.popzone{
padding:15px; 
margin:0; 
text-align:left;
}

.adminsubmit{margin:15px 2px;height:35px;}



td{
line-height:150%;
}

td.con{
background-color: #ffffff; 
}

td.biaoti{ 
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border-bottom:1px #cde6ff solid;
}

div.frameleft{
width:150px;
height:100%;
overflow:visible;
background-color: #f2f9fd; 
padding:60px 0px;

}

div.framemain{
width:100%;
height:100%;
overflow:visible;
border-left:1px #B8E1FA solid;
}


ul.menulist{
margin:20px 0px 20px 1px;
padding:0px;
cursor:pointer;
}

li.menulist {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background: transparent url(../images/menulist.gif) 25px  no-repeat;
}


li.menulistnow {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#cde6ff url(../images/menulist.gif) 25px  no-repeat;
}

li.menulistover {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#E9F4FC url(../images/menulist.gif) 25px  no-repeat;
}


div.piliang{
margin:5px;
padding:6px;
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border:1px #cde6ff solid;

}
select {FONT-SIZE: 12px;}

.input {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
height: 20px; 
line-height:20px;
padding:0px 3px;
background:#fff;
}

.inputx {
border:1px #dddddd solid;
FONT-SIZE: 12px;
color: #505050; 
height: 20px; 
line-height:20px;
padding:0px 3px;
background:#f7f7f7;
}

.textarea {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
padding:3px;
background:#fff;
}

.button {
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #cde6ff solid;
background:#e4f2ff;
}

.button_zone_modify,.button_zone_del,.button_zone_open,.priceset_button{
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #cde6ff solid;
background:#e4f2ff;
}

.button_subzone_modify,.button_subzone_del,.button_subzone_add,.graybutton{
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #ddd solid;
background:#eeeeee;
}

.doyun{
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #ddd solid;
background:#eeeeee;
}

.selall{
margin:5px;
padding:0px 0px 10px 0px;
border-bottom:1px #f0f0f0 solid;
}

.selsave{
float:right;
}

.selbigzone{
margin:5px 5px 5px 5px;
background:#f0f0f0;
padding:3px 10px;
}

.selsubzoneall{
margin:0px 5px 15px 27px;
}

.togDiv{
float:right;
width:100px;
height:18px;
padding-right:5px;
cursor:pointer;
}

.togDivImg_open{
width:100px;
height:18px;
background:url(../images/arrowup.gif) center right no-repeat;
}

.togDivImg_close{
width:100px;
height:18px;
background:url(../images/arrowdown.gif) center right no-repeat;
}





.intro   { font-size:14px; color: #505050;  TEXT-DECORATION: none;line-height:150%;}

.titleinput {
FONT-SIZE: 12px; 
HEIGHT: 18px;
padding-top: 2px; 
padding-left: 2px; 
border: 1px #cde6ff solid; 
background-color: #ffffff;
}

input.modiprice,input.modiyunfei{
border:0px;
padding:0px;
font: 12px/16px Verdana, Arial, Helvetica, sans-serif;
cursor:pointer;
}

input.modiprice_now,input.modiyunfei_now{
border:1px #e0e0e0 solid;
font: 12px/16px Verdana, Arial, Helvetica, sans-serif;
padding:1px;
background-color:#f5f5f5;
color:#ff6600;
}

div#printout{
margin:35px 0px 20px 0px;
border-top:1px #ccc dotted;
border-bottom:1px #ddd dotted;
padding:5px 8px;
font:12px/20px simsun,Verdana, Arial, Helvetica, sans-serif;
color:#666666;
background-color:#f5f5f5;
}


div#print_button,div#print_fahuo_button{
float:right;
cursor:pointer;
font:12px/20px simsun,Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin-right:5px;
}


.list{background:#fff}


/* ============提示信息窗口============== */
div#alert {display:none;cursor:default;}
div#alert .border{border:1px #97A0AA solid;}
div#alert .ntc{padding:30px;text-align:center;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
div#alert .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
div#alert .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
div#alert .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}

.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px}


/* ============弹出frame窗口层============== */

#frmWindow {display:none;cursor:default;}
#frmWindow .border{border:1px #97A0AA solid;}
#frmWindow .ntc{padding:30px;text-align:left;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
#frmWindow .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
#frmWindow .Frm{width:100%;height:470px;border:0}
#frmWindow .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
#frmWindow .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}


/* ============翻页============== */

div#showpages {
padding:0px;
margin:20px 0px;
width:100%;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
background-color:#fff;
}

div#pages li.pagesnow{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
white-space: nowrap;
}

div#pages li.pbutton{
color:#505050;
border:1px #cde6ff solid;
background-color:#fff;
padding:3px 5px 1px 5px;
white-space: nowrap;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}

/* ============多页管理============== */

div#shoppages{
display:inline;
}

div#shoppages ul{
margin:0;
padding:0;
}

div#shoppages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
cursor:pointer;
background-color:#fff;
}

div#shoppages li.now{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
cursor:pointer;
background-color:#e4f2ff;
}



div#shoppages li.addbutton{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
padding:2px 6px 2px 6px;
white-space: nowrap;
cursor:pointer;
}

input.savebutton{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
height:20px;
margin-top:3px;
padding:1px 2px;
white-space: nowrap;
cursor:pointer;
}