<!-start->
<link href="images/dropdownmenu_6/{#tempcolor#}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/dropdownmenu_6.js"></script>
<div id="dropdownmenu">
<!-start-> 

<!-menu->
<a href="{#menuurl#}" target="{#target#}" id="dropdownmenu_main_{#n#}" class="dropdownmenu_main" onMouseOver="showDropMenu('dropdownmenu_main','dropdownmenu_sub',{#n#})">{#menu#}</a>
<div id="dropdownmenu_sub_{#n#}" class="dropdownmenu_sub">{#smenustr#}</div>
<!-menu->

<!-list->
<li><a href="{#menuurl#}" target="{#target#}">{#menu#}</a></li> 
<!-list->

<!-end-> 
</div>
<!-end->

