<!-start->
<link href="images/channelmenu_1030/A.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/channelmenu_1030.js"></script>
<div id="channelmenu">
<div id="channelmenumain">

<!-start-> 

<!-menu->
	<a href="{#menuurl#}" target="{#target#}" class="channelmenu_main" id="channelmenu_main_{#n#}" onMouseOver="showSubMenu('channelmenu_main','channelmenu_sub','{#n#}')">{#menu#}</a>
<!-menu->

<!-list->
<li><a href="{#menuurl#}" target="{#target#}">{#menu#}</a>|</li> 
<!-list->

<!-end-> 
</div>
	<div id="channelmenu_sub">
		<div id="channelmenu_sub_left"></div><div id="channelmenu_sub_right"></div>
		{#smenustr#}

		</div>
</div>


<script>initSubMenu('channelmenu_main','channelmenu_sub','{#m#}');</script>
<!-end->

