<!-start->
<link href="images/channelmenu/{#tempcolor#}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/channelmenu.js"></script>
<div id="menu">
<div class="mainmenuleft"></div><div class="mainmenuright"></div>

<div id="mainmenu">
<ul>
<!-start-> 
<!-menu->
<li ><a href="{#menuurl#}" target="{#target#}" onMouseOver="showMenu({#n#})">{#menu#}</a></li> 
<!-menu->

<!-list->
<li><a href="{#menuurl#}" target="{#target#}">{#menu#}</a>|</li> 
<!-list->

<!-end-> 
</ul></div>

<div id="smenu">
<div class="smenuleft"></div><div class="smenuright"></div>
	{#smenustr#}
</div>
</div>
<script>showMenu({#m#});</script>
<!-end->