<!-start->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<div id="search">
<ul id="queryul">

<!-start->


<!-list-> 
<li>
	<div class="title" ><a href="{#link#}" target="{#target#}" >{#title#}</a></div>
	<div class="time">发布：{#dtime#}<br />更新：{#uptime#}<br />作者：{#author#}<br />访问：{#cl#} 次</div>
	<div class="memo">{#body#}</div>
	<div class="showlink">{#link#}</div>

</li>
<!-list->
<!-end->
</ul>
</div>

<div id="showpages">
	  <div id="pagesinfo">共搜索到{#totalnums#}条 每页{#pagesshownum#}条 页次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
</div>

<!-end->