<!-start->
<link href="css/pagepiclist.css" rel="stylesheet" type="text/css" />
<!-start->
<!-list->
<div class="pagepiclist">
    <div class="pagepiclist_left">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px">
		<div class="picFit" style="width:{#picw#}px;height:{#pich#}px">
		<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;height:{#pich#}px" border="0" /></a>
		</div>
		</div>
	</div>
		<a href="{#link#}" target="{#target#}" class="pagepictitle" >{#title#}</a>
		<span class="memo">{#memo#}</span>
</div>
<!-list->
<!-end->
<script>
$(function() {
$().picFit("{#fittype#}");
});
</script>
<!-end->

