
/* ============点评内容============== */

#commentcontent{
border:1px #D9ECFF solid;
}

#commentcontent td.namezone{
border-right:1px #D9ECFF solid;
padding:10px 0px;
background-color:#F7FBFF;
}

#commentcontent .face{
margin:5px 0px;
width:90px;
padding:3px; 
overflow:hidden;
}

#commentcontent .pname{
width:90px;
text-align:left;
background:url(../images/pname.gif) 20px no-repeat;
padding-left:39px;
height:23px; 
}

#commentcontent .pname a{
font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
line-height:23px; 
}


#commentcontent .showcent{
width:90px;
line-height:20px; 
text-align:left;
font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
}


#commentcontent .user_add{
width:90px;
line-height:20px; 
text-align:left;
background:url(../images/user_add.gif) 20px no-repeat;
padding-left:39px;
padding-top:8px;
cursor:pointer;
}

#commentcontent .send_msg{
width:90px;
line-height:20px; 
text-align:left;
background:url(../images/sn.gif) 20px no-repeat;
padding-left:39px;
cursor:pointer;
}


#commentcontent .info{
padding-left:20px;
height:30px;
line-height:30px;
border-bottom:1px #D9ECFF dotted;
background-color:#F7FBFF;
}

#commentcontent .banzhu{
display:none;
margin:10px;
height:28px;
line-height:28px;
float:right;
}

#commentcontent .banzhu span{
cursor:pointer;
}


#commentcontent .commenttitle{
padding:10px 20px 0px 20px;
height:30px;
line-height:30px;
font-size:14px;
font-weight:bold;
}

#commentcontent .commentbody{
padding:15px 20px 20px 20px ;
font: 14px/1.5 Verdana, Arial, Helvetica, sans-serif;
}

#commentcontent .sign{
padding:5px 20px;
}

#commentcontent .signature{
padding:3px 20px 30px 20px;
}




/* ============点评表单============== */

div#commentForm {padding:1px;border:1px #D9ECFF solid; margin:0px;text-align:left}
div#commentForm .formtitlebg{height:30px;line-height:30px;border-bottom:1px #D9ECFF solid;text-align:center;background:#F7FBFF;}
div#commentForm .formtitle{padding-left:25px;float:left;line-height:28px;background:url(../images/cateitems.gif) 10px no-repeat;}
div#commentForm .formzone{margin:0;padding:15px;text-align:left;}
div#commentForm .row{width:100%;padding:3px 0px;clear:both}
div#commentForm .left{width:90px;float:left;text-align:center;padding:3px 5px}
div#commentForm .con{float:left;text-align:left}




.loginlink{cursor:pointer;text-decoration: underline}
.logoutlink{cursor:pointer;text-decoration: underline}