




/* ============分类列表============== */

ul.newsclass1{
margin:0px;
}

li.newsclass1 {
margin:0;
padding:3px 0px;
padding-left:16px;
list-style-type: none;
font: 9px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#909090;
white-space: nowrap;
background: transparent url(../images/li.gif) left no-repeat;
}

a.newsclass1:link,a.newsclass1:visited,a.newsclass1:active{
color:#505050;
text-decoration: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
}

a.newsclass1:hover{
color:#ff0000;
text-decoration: underline;
font: 12px Verdana, Arial, Helvetica, sans-serif;
}



