/* ============点评检索============== */

#commentquery {margin:0;border-bottom:0px #ddd solid}
#commentquery ul{margin:0;padding:0}
#commentquery li{list-style-type: none;margin:5px 0px 15px 0px;border-bottom:1px #eee dotted;}
#commentquery div.face{width:70px;height:70px;margin-right:30px;padding:3px;text-align:center;}
#commentquery a.bt {margin-right:10px;padding-left:18px;font:bold 14px/20px Verdana, Arial, Helvetica,sans-serif;background:url(../images/ask.gif) left no-repeat}
#commentquery .cl{font:12px/20px Verdana, Arial, Helvetica,sans-serif;color:#999999;margin-bottom:10px;}
#commentquery .lastname{font:12px/20px Verdana, Arial, Helvetica,sans-serif;color:#707070}



/* ============点评表单============== */

div#commentForm {padding:1px;border:1px #D9ECFF solid; margin:0px -1px;text-align:left}
div#commentForm .formtitlebg{height:30px;line-height:30px;border-bottom:1px #D9ECFF solid;text-align:center;background:#F7FBFF;}
div#commentForm .formtitle{padding-left:25px;float:left;line-height:28px;background:url(../images/cateitems.gif) 10px no-repeat;}
div#commentForm .formzone{margin:0;padding:15px;text-align:left;}
div#commentForm .row{width:100%;padding:3px 0px;clear:both}
div#commentForm .left{width:90px;float:left;text-align:center;padding:3px 5px}
div#commentForm .con{float:left;text-align:left}




.loginlink{cursor:pointer;text-decoration: underline}
.logoutlink{cursor:pointer;text-decoration: underline}