body{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
}

body.framebody{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
}

body.popbody{ 
margin:1px; 
padding:0px; 
background-color: #f2f9fd; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
border:1px #cde6ff solid;
}



form{margin:0px;}

.tbline{
border-bottom:1px #e8e8e8 solid;
}


A,td,p{font: 12px Verdana, Arial, Helvetica, sans-serif;}
A:link {TEXT-DECORATION: none}
A:visited {TEXT-DECORATION: none}
A:active {TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: none}

div.searchzone{
margin:5px;
padding:3px 10px;
border:1px #cde6ff solid;
background-color: #f2f9fd; 
}

div.listzone{
margin:5px;
border:1px #cde6ff solid;
}

div.tablezone{
padding:10px;
background:#ffffff;
border:1px #cde6ff solid;
margin:10px 0px;
}

div.namezone{
margin:10px;
background:url(../images/cateitems.gif) left no-repeat;padding-left:20px
}


div.formzone{
border:1px #cde6ff solid;
padding:15px; 
margin:5px; 
background-color:#f2f9fd;
text-align:left
}

div.popzone{
padding:15px; 
margin:0; 
text-align:left;
}



td{
line-height:150%;
}

td.con{
background-color: #ffffff; 
}

td.biaoti{ 
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border-bottom:1px #cde6ff solid;
}

td.end{ 
background-color: #f2f9fd; 
border-top:1px #cde6ff solid;
}


div.frameleft{
height:100%;
width:150px;
overflow:visible;
background-color: #f2f9fd; 
padding:60px 0px;

}

div.framemain{
width:100%;
height:100%;
overflow:visible;
border-left:1px #B8E1FA solid;
}


ul.menulist{
margin:20px 0px 20px 1px;
padding:0px;
cursor:pointer;
}

li.menulist {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background: transparent url(../images/menulist.gif) 25px  no-repeat;
}


li.menulistnow {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#cde6ff url(../images/menulist.gif) 25px  no-repeat;
}

li.menulistover {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#E9F4FC url(../images/menulist.gif) 25px  no-repeat;
}


div.piliang{
margin:5px;
padding:6px;
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border:1px #cde6ff solid;

}
select {FONT-SIZE: 12px;}

.input {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
height: 20px; 
line-height:20px;
padding:0px 3px;
background:#fff;
}

.textarea {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
padding:3px;
background:#fff;
}
.button {
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #cde6ff solid;
background:#e4f2ff;
}

.intro   { font-size:14px; color: #505050;  TEXT-DECORATION: none;line-height:150%;}

.titleinput {
FONT-SIZE: 12px; 
HEIGHT: 18px;
padding-top: 2px; 
padding-left: 2px; 
border: 1px #cde6ff solid; 
background-color: #ffffff;
}


/* ============提示信息窗口============== */
div#alert {display:none;cursor:default;}
div#alert .border{border:1px #97A0AA solid;}
div#alert .ntc{padding:30px;text-align:center;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
div#alert .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
div#alert .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
div#alert .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}

.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px}



/* ==========工单处理=========== */
.quslist{BACKGROUND-COLOR: expression((this.sectionRowIndex%2==0) ? "#fbfbfb":"ffffff");font-size:12px; }

.stat0{background:#ff0000;padding:1px 3px;color:#fff}
.stat1{background:#FF6600;padding:1px 3px;color:#fff}
.stat2{background:#0099cc;padding:1px 3px;color:#fff}
.stat3{background:#003399;padding:1px 3px;color:#fff}
.stat4{background:#75522b;padding:1px 3px;color:#fff}
.stat5{background:#339966;padding:1px 3px;color:#fff}
.stat6{background:#666666;padding:1px 3px;color:#fff}

.qusdel{BACKGROUND-COLOR:#f7f7f7;border:1px #ccc solid;height:20px;line-height:18px}
.qusoffer{BACKGROUND-COLOR:#f7f7f7;border:1px #ccc solid;height:20px;line-height:18px}
.quslook{BACKGROUND-COLOR:#f7f7f7;border:1px #ccc solid;height:20px;line-height:18px}
.qushis{BACKGROUND-COLOR:#f7f7f7;border:1px #ccc solid;height:20px;line-height:18px}

#lookdiv {display:none;cursor:default;}
#lookdiv .border{border:1px #97A0AA solid;}
#lookdiv .ntc{padding:30px;text-align:left;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
#lookdiv .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
#lookdiv .lookFrm{width:100%;height:500px;border:0}
#lookdiv .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
#lookdiv .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}


div.chatlist{
padding:0px 10px 10px 10px;
background:#ffffff;
border-bottom:1px #cde6ff dotted;
margin:10px 0px;
}

div.chattime{
margin-bottom:5px;
color:#999;
}

div.chatzone{
margin:20px 0px 10px 0px;
height:250px;
overflow:auto;
border:1px #cde6ff solid;
}

div.addnew{
width:180px;
height:25px;
cursor:pointer;
background:url(../images/addnew.gif) no-repeat;
line-height:25px;
padding-left:56px
}



/* ============翻页============== */

div#showpages {
padding:0px;
margin:20px 0px;
width:100%;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
background-color:#fff;
}

div#pages li.pagesnow{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
white-space: nowrap;
}

div#pages li.pbutton{
color:#505050;
border:1px #cde6ff solid;
background-color:#fff;
padding:3px 5px 1px 5px;
white-space: nowrap;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}