body{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
}

body.framebody{ 
margin:0px; 
padding:0px; 
background-color: #ffffff; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
}

body.popbody{ 
margin:1px; 
padding:0px; 
background-color: #f2f9fd; 
color: #505050; 
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
border:0px; 
line-height:150%;
height:100%;
border:0px; 
overflow:hidden;
border:1px #cde6ff solid;
}



form{margin:0px;}

.tbline{
border-bottom:1px #e8e8e8 solid;
}


A,td,p{font: 12px Verdana, Arial, Helvetica, sans-serif;}
A:link {color: #505050;font: 12px Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
A:visited {color: #505050;TEXT-DECORATION: none}
A:active {color: #505050;TEXT-DECORATION: none}
A:hover {color: #ff6600;TEXT-DECORATION: none}

div.searchzone{
margin:5px;
padding:3px 10px;
border:1px #cde6ff solid;
background-color: #f2f9fd; 
}

div.listzone{
margin:5px;
border:1px #cde6ff solid;
}

div.formzone{
border:1px #cde6ff solid;
padding:15px; 
margin:5px; 
background-color:#f2f9fd;
text-align:left£»
}

div.tablezone{
padding:15px;
background:#ffffff;
border:1px #cde6ff solid;
margin:10px;
}


div.namezone{
margin:10px;
background:url(../images/cateitems.gif) left no-repeat;padding-left:20px
}



div.popzone{
padding:15px; 
margin:0; 
text-align:left;
}



td{
line-height:150%;
}

td.con{
background-color: #ffffff; 
}

td.biaoti{ 
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border-bottom:1px #cde6ff solid;
}

td.biaoti1{ 
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border-top:1px #cde6ff solid;
}


td.innerbiaoti{ 
border-bottom:1px #cde6ff solid;
}

td.innerbiaoti1{ 
border-top:1px #cde6ff solid;
}


.adminsubmit{
margin:15px 2px;
height:35px;
}


div.frameleft{
width:150px;
height:100%;
overflow:visible;
background-color: #f2f9fd; 
padding:60px 0px;

}

div.framemain{
width:100%;
height:100%;
overflow:visible;
border-left:1px #B8E1FA solid;
}


ul.menulist{
margin:20px 0px 20px 1px;
padding:0px;
cursor:pointer;
}

li.menulist {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background: transparent url(../images/menulist.gif) 25px  no-repeat;
}


li.menulistnow {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#cde6ff url(../images/menulist.gif) 25px  no-repeat;
}

li.menulistover {
margin:1px 0px;
padding:3px 0px;
padding-left:39px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#505050;
background:#E9F4FC url(../images/menulist.gif) 25px  no-repeat;
}


div.piliang{
margin:5px;
padding:6px;
background-color: #f2f9fd; 
TEXT-DECORATION: none;
border:1px #cde6ff solid;

}
select {FONT-SIZE: 12px;}

.input {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
height: 20px; 
line-height:20px;
padding:0px 3px;
background:#fff;
}

.textarea {
border:1px #cde6ff solid;
FONT-SIZE: 12px;
color: #505050; 
padding:3px;
background:#fff;
}
.button {
height:22px;
color:#555;
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:20px;
padding:0px 3px;
border:1px #cde6ff solid;
background:#e4f2ff;
}

.intro   { font-size:14px; color: #505050;  TEXT-DECORATION: none;line-height:150%;}

.titleinput {
FONT-SIZE: 12px; 
HEIGHT: 18px;
padding-top: 2px; 
padding-left: 2px; 
border: 1px #cde6ff solid; 
background-color: #ffffff;
}


img.membermodify{
cursor:pointer;
}

img.membercent{
cursor:pointer;
}

img.membermail{
cursor:pointer;
}



.list{background:#fff}




/* ============·­Ò³============== */

div#showpages {
padding:0px;
margin:20px 0px;
width:100%;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
background-color:#fff;
}

div#pages li.pagesnow{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
white-space: nowrap;
}

div#pages li.pbutton{
color:#505050;
border:1px #cde6ff solid;
background-color:#fff;
padding:3px 5px 1px 5px;
white-space: nowrap;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}

/* ============µ¯³öframe´°¿Ú²ã============== */

#frmWindow {display:none;cursor:default;}
#frmWindow .border{border:1px #97A0AA solid;}
#frmWindow .ntc{padding:30px;text-align:left;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
#frmWindow .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
#frmWindow .Frm{width:100%;height:470px;border:0}
#frmWindow .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
#frmWindow .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}
