.dropdownmenu{
   clear:both;
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
   height:28px;
   color:#fff;
   background-color:#009999;
}

.dorpmenu{
   float:left;
   width:100px;
   color:#fff;
   border-left:1px solid #47b3b3;
   line-height:28px;
   text-align:center;
   margin-left:-1px;
   
}


a.dorpmenu:link,a.dorpmenu:visited,a.dorpmenu:active {
   color: #fff; 
   display:block;
   text-decoration: none;
   line-height:28px;
}


a.dorpmenu:hover {
   color: #fff; 
   text-decoration: none;
   background-color:#23a7a7;
   line-height:28px;
} 

div.subdorpmenu{
   display:none;
   position:absolute;
}

div.subdorpmenu ul{
   background-color:#009999;
   border:1px #47b3b3 solid;
   border-top:0px;
   width:99px;
}

div.subdorpmenu ul.firstdrop{
   width:98px;
}

div.subdorpmenu li{
   padding:0px;
   list-style-type:none;
   text-align:center;
   line-height:28px; 
   height:28px;
   border-top:1px #47b3b3 solid;
}

div.subdorpmenu li.current{
   height:28px; 
   background-color:#23a7a7;
}


div.subdorpmenu a,a.subdorpmenu:link,a.subdropmenu:visited,a.subdorpmenu:active{
   display:block;
   color: #fff; 
   text-decoration: none;
   font:12px/28px Arial;
}

a.subdorpmenu:hover {
   display:block;
   color: #fff; 
   text-decoration: none;
   font:12px/28px Arial;
} 
