<script type="text/javascript" src="{#CP#}js/welcome.js"></script>
<div style="font:12px/14px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#acacac;float:left;">
您好！欢迎光临{#sitename#}&nbsp;
</div>
<div id="loginorreg" style="color:#acacac;display:none;">
<span><a href="{#RP#}member/login.php" style="font:12px/14px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#1259bb">[请登录]</a></span>，新用户？<span><a href="{#RP#}member/reg.php" style="font:12px/14px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#1259bb">[免费注册]</a></span>
</div>
<div id="islogin" style="color:#acacac;display:none;">
<span><a href="{#RP#}member" style="font:12px/14px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#1259bb">[进入会员中心]</a></span><span><a href="{#RP#}logout.php" style="font:12px/14px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#1259bb"> [退出登录]</a></span>
</div>