<link href="css/homepage.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/homepage.js"></script>
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" align="center">
	<div class="face"><img src="{#face#}" width="100" border="0" /></div>
	<div class="pname">{#pname#}</div>
	</td>
    <td width="50" valign="top">&nbsp;</td>
    <td valign="top"><table border=0 cellpadding=3 cellspacing=1 class="table">
      <tr>
        <td  >注册：</td>
        <td  >{#regtime#} </td>
      </tr>
      <tr>
        <td  >{#centname1#}：</td>
        <td ><img src="images/cw1.gif" width="{#cw1#}" height="10"> {#cent1#}</td>
      </tr>
      <tr>
        <td >{#centname2#}：</td>
        <td  ><img src="images/cw2.gif" width="{#cw2#}" height="10"> {#cent2#}</td>
      </tr>
      <tr>
        <td >{#centname3#}：</td>
        <td  ><img src="images/cw3.gif" width="{#cw3#}" height="10"> {#cent3#}</td>
      </tr>
      <tr>
        <td colspan="2"  >
		
		<div id="useradd_{#mid#}" class="user_add">加为好友</div>
	</td>
        </tr>
      <tr>
        <td colspan="2"  >
		<div id="sendmsg_{#mid#}" class="send_msg">发送短信</div></td>
        </tr>
    </table></td>
  </tr>
</table>
