<!-start->
<link href="css/membertags.css" rel="stylesheet" type="text/css" />
<!-start->
<!-list->
<div class="membertags">
	<div class="face" style="width:{#picw#}px;height:{#pich#}px">
		<a href="{#memberurl#}"><img src="{#face#}" width="{#picw#}" height="{#pich#}" border="0" /></a>
	</div>
	
	<div class="pname">
	<a href="{#memberurl#}" class="pname">{#pname#}</a>
	</div>
	
	<div class="memo">
	
	<span class="cent">{#centname1#}：{#cent1#} {#centname2#}：{#cent2#} {#centname3#}：{#cent3#}</span><br />
	{#tag1#} {#tag2#} {#tag3#}
	
	</div>
	

</div>


<!-list->
<!-end->
<!-end->

