<link href="css/reg.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/reg.js"></script>

<div id="reg" >
<div  id="notice" class="noticediv"></div>
<form id="RegStep"  method="post" action="" name="regform" >
<div id="stepname" class="stepname"></div>
<div class="zone">

<div class="row">
	<div class="left">联 系 人：</div> <div class="mustfill">*</div>
	<div class="con">
	<input type="text" id="name"  name="name"  class="input"  value="{#name#}" size="20" />
	
	</div>
</div>


<div class="row">
	<div class="left">电子邮件：</div> <div class="mustfill">*</div>
	<div class="con">
	<input type="text" id="email" name="email"  class="input"  value="{#email#}" size="38"  />
	
	</div>
</div>

<div class="row">
	<div class="left">固定电话：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" id="tel" name="tel"  class="input"  value="{#tel#}" size="30" />      
	</div>
</div>

<div class="row">
	<div class="left">手机号码：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" id="mov" name="mov"  class="input"  value="{#mov#}" size="30" />
	</div>
</div>

<div class="row">
	<div class="left">通信地址：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" name="addr"  class="input"  value="{#addr#}" size="50" />   
	</div>
</div>


<div class="row">
	<div class="left">邮政编码：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" name="postcode"  class="input"  value="{#postcode#}" size="12" /> 
	</div>
</div>

<div class="row">
	<div class="left">QQ号码：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" name="qq"  class="input"  value="{#qq#}" size="12" /> 
	</div>
</div>

<div class="row">
	<div class="left">MSN帐号：</div> <div class="mustfill"></div>
	<div class="con">
	<input type="text" name="msn"  class="input"  value="{#msn#}" size="30" />      
	</div>
</div>

<div class="row" style="margin:10px 0px">
	<div class="left"></div> <div class="mustfill"></div>
	<div class="con">
	<input type="submit" name="Submit" value="下一步" class="submit" />
    <input type="hidden" name="act" value="membercontact" />
	 <input name="nowstep" type="hidden" id="nowstep" value="contact" />
	 <input name="nextstep" type="hidden" id="nextstep" value="enter" />
	 <input name="membertypeid" type="hidden" id="membertypeid" value="{#membertypeid#}" />
	 
	
	<p></p><p></p>
	</div>
</div>
</div>
</form>
</div>


