<link href="css/membermenu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/membermenu.js"></script>

<ul class="membermenu">
<li id="m1" class="membermenu"><a href="{#CP#}member_account.php" class="membermenu">登陆帐号设置</a></li>
<li id="m2" class="membermenu"><a href="{#CP#}member_person.php" class="membermenu">个人信息设置</a></li>
<li id="m3" class="membermenu"><a href="{#CP#}member_detail.php" class="membermenu">详细资料修改</a></li>
<li id="m4" class="membermenu"><a href="{#CP#}member_contact.php" class="membermenu">联系信息设置</a></li>
<li id="m5"  class="membermenu"><div id="logout"><a  href="#" class="membermenu">退出会员登录</a></div></li>
</ul>

