  <table class="table" cellspacing=1 cellpadding=3 border=0>
    
      <tr>
        <td width=70 align=right class="memberinfo">登录账号：</td>
        <td class="memberinfo">{#user#}</td>
      </tr>
      <tr>
        <td width=70 align=right  class="memberinfo">网名昵称：</td>
        <td  class="memberinfo">{#pname#}</td>
      </tr>
      <tr>
        <td width=70 align=right  class="memberinfo">注册时间：</td>
        <td  class="memberinfo">{#regtime#} </td>
      </tr>
      <tr>
        <td width=70 align=right  class="memberinfo">注册时IP：</td>
        <td  class="memberinfo">{#ip#}</td>
      </tr>
      <tr>
        <td width=70 align=right  class="memberinfo">末次登录：</td>
        <td  class="memberinfo">{#logintime#} </td>
      </tr>
      <tr>
        <td width=70 align=right  class="memberinfo">登录时IP：</td>
        <td  class="memberinfo">{#loginip#}</td>
      </tr>
      <tr>
        <td align=right  class="memberinfo">登录次数：</td>
        <td  class="memberinfo">{#logincount#}</td>
      </tr>
   
  </table>

