
/* ==提示样式== */

.msgdiv {color:#336699;padding-left:53px;background:url(../images/chk_msg.gif) 30px no-repeat;}
.errdiv {color:#FF0000;padding-left:53px;background:url(../images/chk_error.gif) 30px no-repeat;}
.rightdiv {color:#505050;padding-left:53px;background:url(../images/chk_right.gif) 30px no-repeat;}
.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px 10px 0px}
.okdiv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_right.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px 10px 0px}

/* ============提示信息窗口============== */
div#alert {display:none;cursor:default;}
div#alert .border{border:1px #97A0AA solid;}
div#alert .ntc{padding:30px;text-align:center;background:#fff;font: 14px/1.6 Verdana, Arial, Helvetica, sans-serif;}
div#alert .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
div#alert .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
div#alert .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}

