<!-start->
<!-start->

<!-end->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"  width="100%" height="100%">
<param name="allowScriptAccess" value="sameDomain">
<param name="movie" value="images/pix.swf">
<param name="quality" value="high">
<param name="bgcolor" value="#eeeeee">
<param name="menu" value="false">
<param name="wmode" value="opaque">
<param name="FlashVars" value="pics={#pic#}&links={#purl#}&texts={#ptitle#}&borderwidth={#w#}&borderheight={#h1#}&textheight=25">
<embed src="images/pix.swf" wmode="opaque" FlashVars="pics={#pic#}&links={#purl#}&texts={#ptitle#}&borderwidth={#w#}&borderheight={#h1#}&textheight=25" menu="false" bgcolor="#666666" quality="high"  width="100%" height="100%" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">	
</object>
<!-end->
