<!-start->
<link href="css/newspicrollx3/{#tempcolor#}.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/newspicrollx3.js"></script>
<div class="newspicrollx3">

<div class="picborder">
	<div id="rollviewzone">
	<img src="images/loading.gif" border="0" id="rollview" />
	</div>
</div>
<ul class="newspicrollx3">
<!-start->
<!-list->
<li id="rollx_{#picnum#}" class="rollx">
<div class="fang">
<div class="rollpiczone">
<a href="{#link#}" target="{#target#}" ><img src="{#src#}" border="0" id="rollpic_{#picnum#}" class="rollpic" /></a>
</div>
</div>
<div class="tm">
<a href="{#link#}" target="{#target#}" class="title" {#bold#} {#red#} >{#title#}</a>
<div class="memo">
{#memo#}
</div>
</div>

</li>
<!-list->
<!-end->
</ul>
</div>
<!-end->

