<!-start->
<link href="css/newsmemoquery.css" rel="stylesheet" type="text/css" />
<div id="newsmemoquery">
<ul >
<!-start->
<!-list-> 
<li>
	<div class="title" ><a href="{#link#}" target="{#target#}" {#bold#} {#red#} >{#title#}</a></div>
	<div class="time">日期：{#dtime#}&nbsp;</div>
	<div class="memo">{#memo#}</div>

</li>
<!-list->
<!-end->
</ul>
</div>


<div id="showpages">
	  <div id="pagesinfo">共{#totalnums#}条 每页{#pagesshownum#}条 页次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
     </div>

<!-end->