/* ============图片切换特效============== */

div.newspicrollx3{
margin:0;
padding:0;
width:100%;
height:250px;
border:0px;
}

div.newspicrollx3 div.picborder{
border:1px #0099cc solid;
display:inline;
width:350px;
float:left;
margin-right:1px;
background:#fff;
padding:5px;
}


div.newspicrollx3 div#rollviewzone{
overflow: hidden;
width:350px;
height:256px;
}



ul.newspicrollx3{
margin:0;
padding:0;
}


/*==非选中的==*/

ul.newspicrollx3 li.rollx{
list-style-type: none; 
padding:4px;
margin-bottom:1px;
height:78px;
overflow: hidden;
cursor:pointer;
border:1px #0099cc solid;
background-color:#feffff;
}


li.rollx div.fang{
border:1px #ddd solid;
width:90px;
height:70px;
margin-right:13px;
float:left;
text-align:center;
padding:3px;
background-color:#ffffff;
}


li.rollx a.title:link,li.rollx a.title:visited,li.rollx a.title:active{
font:bold 14px/25px simsun;
color:#555;
text-decoration: none;
}

li.rollx a.title:hover{
font:bold 14px/25px simsun;
color:#1ea5d2;
text-decoration: underline;
}


li.rollx div.memo{
font:12px/18px simsun;
margin-top:3px;
color:#555;
}


/*==当前选中的==*/

ul.newspicrollx3 li.rollxnow{
list-style-type: none; 
padding:4px;
margin-bottom:1px;
border:1px #0099cc solid;
height:78px;
overflow: hidden;
cursor:pointer;
background-color:#1ea5d2;
}


li.rollxnow div.fang{
border:1px #fff solid;
width:90px;
height:70px;
margin-right:13px;
float:left;
text-align:center;
padding:3px;
background-color:#ffffff;
}


li.rollxnow a.title:link,li.rollxnow a.title:visited,li.rollxnow a.title:active{
font:bold 14px/25px simsun;
color:#fff;
text-decoration: none;
}

li.rollxnow a.title:hover{
font:bold 14px/25px simsun;
color:#f8f8f8;
text-decoration: underline;
}


li.rollxnow div.memo{
font:12px/18px simsun;
margin-top:3px;
color:#fff;
}


/*==其他==*/

ul.newspicrollx3 div.rollpiczone{
width:90px;
height:70px;
overflow: hidden;
}


ul.newspicrollx3 div.tm{
margin-right:3px;
}


